<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kindArt.manager.dao.DictionaryBaseInfoMapper">
  <resultMap id="BaseResultMap" type="com.kindArt.manager.domain.DictionaryBaseInfo">
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="dict_type_code" jdbcType="VARCHAR" property="dictTypeCode" />
    <result column="dict_type_name" jdbcType="VARCHAR" property="dictTypeName" />
    <result column="dict_code" jdbcType="VARCHAR" property="dictCode" />
    <result column="dict_value" jdbcType="VARCHAR" property="dictValue" />
    <result column="dict_parent_uuid" jdbcType="VARCHAR" property="dictParentUuid" />
  </resultMap>
  <sql id="Base_Column_List">
    uuid, dict_type_code, dict_type_name, dict_code, dict_value, dict_parent_uuid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dictionary_base_info
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dictionary_base_info
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kindArt.manager.domain.DictionaryBaseInfo">
    insert into dictionary_base_info (uuid, dict_type_code, dict_type_name, 
      dict_code, dict_value, dict_parent_uuid
      )
    values (#{uuid,jdbcType=VARCHAR}, #{dictTypeCode,jdbcType=VARCHAR}, #{dictTypeName,jdbcType=VARCHAR}, 
      #{dictCode,jdbcType=VARCHAR}, #{dictValue,jdbcType=VARCHAR}, #{dictParentUuid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kindArt.manager.domain.DictionaryBaseInfo">
    insert into dictionary_base_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="dictTypeCode != null">
        dict_type_code,
      </if>
      <if test="dictTypeName != null">
        dict_type_name,
      </if>
      <if test="dictCode != null">
        dict_code,
      </if>
      <if test="dictValue != null">
        dict_value,
      </if>
      <if test="dictParentUuid != null">
        dict_parent_uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="dictTypeCode != null">
        #{dictTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="dictTypeName != null">
        #{dictTypeName,jdbcType=VARCHAR},
      </if>
      <if test="dictCode != null">
        #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null">
        #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="dictParentUuid != null">
        #{dictParentUuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kindArt.manager.domain.DictionaryBaseInfo">
    update dictionary_base_info
    <set>
      <if test="dictTypeCode != null">
        dict_type_code = #{dictTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="dictTypeName != null">
        dict_type_name = #{dictTypeName,jdbcType=VARCHAR},
      </if>
      <if test="dictCode != null">
        dict_code = #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null">
        dict_value = #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="dictParentUuid != null">
        dict_parent_uuid = #{dictParentUuid,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kindArt.manager.domain.DictionaryBaseInfo">
    update dictionary_base_info
    set dict_type_code = #{dictTypeCode,jdbcType=VARCHAR},
      dict_type_name = #{dictTypeName,jdbcType=VARCHAR},
      dict_code = #{dictCode,jdbcType=VARCHAR},
      dict_value = #{dictValue,jdbcType=VARCHAR},
      dict_parent_uuid = #{dictParentUuid,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.kindArt.manager.domain.DictionaryBaseInfo">
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="dict_type_code" jdbcType="VARCHAR" property="dictTypeCode" />
    <result column="dict_type_name" jdbcType="VARCHAR" property="dictTypeName" />
    <result column="dict_code" jdbcType="VARCHAR" property="dictCode" />
    <result column="dict_value" jdbcType="VARCHAR" property="dictValue" />
    <result column="dict_parent_uuid" jdbcType="VARCHAR" property="dictParentUuid" />
  </resultMap>
  <sql id="Base_Column_List">
    uuid, dict_type_code, dict_type_name, dict_code, dict_value, dict_parent_uuid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dictionary_base_info
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dictionary_base_info
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kindArt.manager.domain.DictionaryBaseInfo">
    insert into dictionary_base_info (uuid, dict_type_code, dict_type_name, 
      dict_code, dict_value, dict_parent_uuid
      )
    values (#{uuid,jdbcType=VARCHAR}, #{dictTypeCode,jdbcType=VARCHAR}, #{dictTypeName,jdbcType=VARCHAR}, 
      #{dictCode,jdbcType=VARCHAR}, #{dictValue,jdbcType=VARCHAR}, #{dictParentUuid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kindArt.manager.domain.DictionaryBaseInfo">
    insert into dictionary_base_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="dictTypeCode != null">
        dict_type_code,
      </if>
      <if test="dictTypeName != null">
        dict_type_name,
      </if>
      <if test="dictCode != null">
        dict_code,
      </if>
      <if test="dictValue != null">
        dict_value,
      </if>
      <if test="dictParentUuid != null">
        dict_parent_uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="dictTypeCode != null">
        #{dictTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="dictTypeName != null">
        #{dictTypeName,jdbcType=VARCHAR},
      </if>
      <if test="dictCode != null">
        #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null">
        #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="dictParentUuid != null">
        #{dictParentUuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kindArt.manager.domain.DictionaryBaseInfo">
    update dictionary_base_info
    <set>
      <if test="dictTypeCode != null">
        dict_type_code = #{dictTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="dictTypeName != null">
        dict_type_name = #{dictTypeName,jdbcType=VARCHAR},
      </if>
      <if test="dictCode != null">
        dict_code = #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null">
        dict_value = #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="dictParentUuid != null">
        dict_parent_uuid = #{dictParentUuid,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kindArt.manager.domain.DictionaryBaseInfo">
    update dictionary_base_info
    set dict_type_code = #{dictTypeCode,jdbcType=VARCHAR},
      dict_type_name = #{dictTypeName,jdbcType=VARCHAR},
      dict_code = #{dictCode,jdbcType=VARCHAR},
      dict_value = #{dictValue,jdbcType=VARCHAR},
      dict_parent_uuid = #{dictParentUuid,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.kindArt.manager.domain.DictionaryBaseInfo">
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="dict_type_code" jdbcType="VARCHAR" property="dictTypeCode" />
    <result column="dict_type_name" jdbcType="VARCHAR" property="dictTypeName" />
    <result column="dict_code" jdbcType="VARCHAR" property="dictCode" />
    <result column="dict_value" jdbcType="VARCHAR" property="dictValue" />
    <result column="dict_parent_uuid" jdbcType="VARCHAR" property="dictParentUuid" />
  </resultMap>
  <sql id="Base_Column_List">
    uuid, dict_type_code, dict_type_name, dict_code, dict_value, dict_parent_uuid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dictionary_base_info
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dictionary_base_info
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kindArt.manager.domain.DictionaryBaseInfo">
    insert into dictionary_base_info (uuid, dict_type_code, dict_type_name, 
      dict_code, dict_value, dict_parent_uuid
      )
    values (#{uuid,jdbcType=VARCHAR}, #{dictTypeCode,jdbcType=VARCHAR}, #{dictTypeName,jdbcType=VARCHAR}, 
      #{dictCode,jdbcType=VARCHAR}, #{dictValue,jdbcType=VARCHAR}, #{dictParentUuid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kindArt.manager.domain.DictionaryBaseInfo">
    insert into dictionary_base_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="dictTypeCode != null">
        dict_type_code,
      </if>
      <if test="dictTypeName != null">
        dict_type_name,
      </if>
      <if test="dictCode != null">
        dict_code,
      </if>
      <if test="dictValue != null">
        dict_value,
      </if>
      <if test="dictParentUuid != null">
        dict_parent_uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="dictTypeCode != null">
        #{dictTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="dictTypeName != null">
        #{dictTypeName,jdbcType=VARCHAR},
      </if>
      <if test="dictCode != null">
        #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null">
        #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="dictParentUuid != null">
        #{dictParentUuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kindArt.manager.domain.DictionaryBaseInfo">
    update dictionary_base_info
    <set>
      <if test="dictTypeCode != null">
        dict_type_code = #{dictTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="dictTypeName != null">
        dict_type_name = #{dictTypeName,jdbcType=VARCHAR},
      </if>
      <if test="dictCode != null">
        dict_code = #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null">
        dict_value = #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="dictParentUuid != null">
        dict_parent_uuid = #{dictParentUuid,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kindArt.manager.domain.DictionaryBaseInfo">
    update dictionary_base_info
    set dict_type_code = #{dictTypeCode,jdbcType=VARCHAR},
      dict_type_name = #{dictTypeName,jdbcType=VARCHAR},
      dict_code = #{dictCode,jdbcType=VARCHAR},
      dict_value = #{dictValue,jdbcType=VARCHAR},
      dict_parent_uuid = #{dictParentUuid,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>