<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kindArt.manager.dao.DynamicBaseInfoMapper">
  <resultMap id="BaseResultMap" type="com.kindArt.manager.domain.DynamicBaseInfo">
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="commended_num" jdbcType="INTEGER" property="commendedNum" />
    <result column="collection_num" jdbcType="INTEGER" property="collectionNum" />
    <result column="publisher_no" jdbcType="VARCHAR" property="publisherNo" />
    <result column="publisher_time" jdbcType="TIMESTAMP" property="publisherTime" />
    <result column="dynamic_status" jdbcType="VARCHAR" property="dynamicStatus" />
    <result column="shared_num" jdbcType="INTEGER" property="sharedNum" />
  </resultMap>
  <sql id="Base_Column_List">
    uuid, title, comment, commended_num, collection_num, publisher_no, publisher_time, 
    dynamic_status, shared_num
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dynamic_base_info
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dynamic_base_info
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kindArt.manager.domain.DynamicBaseInfo">
    insert into dynamic_base_info (uuid, title, comment, 
      commended_num, collection_num, publisher_no, 
      publisher_time, dynamic_status, shared_num
      )
    values (#{uuid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, 
      #{commendedNum,jdbcType=INTEGER}, #{collectionNum,jdbcType=INTEGER}, #{publisherNo,jdbcType=VARCHAR}, 
      #{publisherTime,jdbcType=TIMESTAMP}, #{dynamicStatus,jdbcType=VARCHAR}, #{sharedNum,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kindArt.manager.domain.DynamicBaseInfo">
    insert into dynamic_base_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="commendedNum != null">
        commended_num,
      </if>
      <if test="collectionNum != null">
        collection_num,
      </if>
      <if test="publisherNo != null">
        publisher_no,
      </if>
      <if test="publisherTime != null">
        publisher_time,
      </if>
      <if test="dynamicStatus != null">
        dynamic_status,
      </if>
      <if test="sharedNum != null">
        shared_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="commendedNum != null">
        #{commendedNum,jdbcType=INTEGER},
      </if>
      <if test="collectionNum != null">
        #{collectionNum,jdbcType=INTEGER},
      </if>
      <if test="publisherNo != null">
        #{publisherNo,jdbcType=VARCHAR},
      </if>
      <if test="publisherTime != null">
        #{publisherTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dynamicStatus != null">
        #{dynamicStatus,jdbcType=VARCHAR},
      </if>
      <if test="sharedNum != null">
        #{sharedNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kindArt.manager.domain.DynamicBaseInfo">
    update dynamic_base_info
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="commendedNum != null">
        commended_num = #{commendedNum,jdbcType=INTEGER},
      </if>
      <if test="collectionNum != null">
        collection_num = #{collectionNum,jdbcType=INTEGER},
      </if>
      <if test="publisherNo != null">
        publisher_no = #{publisherNo,jdbcType=VARCHAR},
      </if>
      <if test="publisherTime != null">
        publisher_time = #{publisherTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dynamicStatus != null">
        dynamic_status = #{dynamicStatus,jdbcType=VARCHAR},
      </if>
      <if test="sharedNum != null">
        shared_num = #{sharedNum,jdbcType=INTEGER},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kindArt.manager.domain.DynamicBaseInfo">
    update dynamic_base_info
    set title = #{title,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      commended_num = #{commendedNum,jdbcType=INTEGER},
      collection_num = #{collectionNum,jdbcType=INTEGER},
      publisher_no = #{publisherNo,jdbcType=VARCHAR},
      publisher_time = #{publisherTime,jdbcType=TIMESTAMP},
      dynamic_status = #{dynamicStatus,jdbcType=VARCHAR},
      shared_num = #{sharedNum,jdbcType=INTEGER}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>