<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kindArt.manager.dao.FindBaseExtMapper">
  <resultMap id="BaseResultMap" type="com.kindArt.manager.domain.FindBaseExt">
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="activity_no" jdbcType="VARCHAR" property="activityNo" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="relation_user_id" jdbcType="VARCHAR" property="relationUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    uuid, activity_no, type, relation_user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from find_base_ext
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from find_base_ext
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kindArt.manager.domain.FindBaseExt">
    insert into find_base_ext (uuid, activity_no, type, 
      relation_user_id)
    values (#{uuid,jdbcType=VARCHAR}, #{activityNo,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{relationUserId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kindArt.manager.domain.FindBaseExt">
    insert into find_base_ext
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="activityNo != null">
        activity_no,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="relationUserId != null">
        relation_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="activityNo != null">
        #{activityNo,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="relationUserId != null">
        #{relationUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kindArt.manager.domain.FindBaseExt">
    update find_base_ext
    <set>
      <if test="activityNo != null">
        activity_no = #{activityNo,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="relationUserId != null">
        relation_user_id = #{relationUserId,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kindArt.manager.domain.FindBaseExt">
    update find_base_ext
    set activity_no = #{activityNo,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      relation_user_id = #{relationUserId,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>