<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kindArt.manager.dao.OpinionFeedbackMapper">
  <resultMap id="BaseResultMap" type="com.kindArt.manager.domain.OpinionFeedback">
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="opinion_type" jdbcType="VARCHAR" property="opinionType" />
    <result column="opinion_code" jdbcType="VARCHAR" property="opinionCode" />
    <result column="opinion_code_comment" jdbcType="VARCHAR" property="opinionCodeComment" />
    <result column="opinion_comment" jdbcType="VARCHAR" property="opinionComment" />
    <result column="att_uuid" jdbcType="VARCHAR" property="attUuid" />
    <result column="feedback_no" jdbcType="VARCHAR" property="feedbackNo" />
    <result column="feedback_time" jdbcType="TIMESTAMP" property="feedbackTime" />
  </resultMap>
  <sql id="Base_Column_List">
    uuid, opinion_type, opinion_code, opinion_code_comment, opinion_comment, att_uuid, 
    feedback_no, feedback_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from opinion_feedback
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from opinion_feedback
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kindArt.manager.domain.OpinionFeedback">
    insert into opinion_feedback (uuid, opinion_type, opinion_code, 
      opinion_code_comment, opinion_comment, att_uuid, 
      feedback_no, feedback_time)
    values (#{uuid,jdbcType=VARCHAR}, #{opinionType,jdbcType=VARCHAR}, #{opinionCode,jdbcType=VARCHAR}, 
      #{opinionCodeComment,jdbcType=VARCHAR}, #{opinionComment,jdbcType=VARCHAR}, #{attUuid,jdbcType=VARCHAR}, 
      #{feedbackNo,jdbcType=VARCHAR}, #{feedbackTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kindArt.manager.domain.OpinionFeedback">
    insert into opinion_feedback
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="opinionType != null">
        opinion_type,
      </if>
      <if test="opinionCode != null">
        opinion_code,
      </if>
      <if test="opinionCodeComment != null">
        opinion_code_comment,
      </if>
      <if test="opinionComment != null">
        opinion_comment,
      </if>
      <if test="attUuid != null">
        att_uuid,
      </if>
      <if test="feedbackNo != null">
        feedback_no,
      </if>
      <if test="feedbackTime != null">
        feedback_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="opinionType != null">
        #{opinionType,jdbcType=VARCHAR},
      </if>
      <if test="opinionCode != null">
        #{opinionCode,jdbcType=VARCHAR},
      </if>
      <if test="opinionCodeComment != null">
        #{opinionCodeComment,jdbcType=VARCHAR},
      </if>
      <if test="opinionComment != null">
        #{opinionComment,jdbcType=VARCHAR},
      </if>
      <if test="attUuid != null">
        #{attUuid,jdbcType=VARCHAR},
      </if>
      <if test="feedbackNo != null">
        #{feedbackNo,jdbcType=VARCHAR},
      </if>
      <if test="feedbackTime != null">
        #{feedbackTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kindArt.manager.domain.OpinionFeedback">
    update opinion_feedback
    <set>
      <if test="opinionType != null">
        opinion_type = #{opinionType,jdbcType=VARCHAR},
      </if>
      <if test="opinionCode != null">
        opinion_code = #{opinionCode,jdbcType=VARCHAR},
      </if>
      <if test="opinionCodeComment != null">
        opinion_code_comment = #{opinionCodeComment,jdbcType=VARCHAR},
      </if>
      <if test="opinionComment != null">
        opinion_comment = #{opinionComment,jdbcType=VARCHAR},
      </if>
      <if test="attUuid != null">
        att_uuid = #{attUuid,jdbcType=VARCHAR},
      </if>
      <if test="feedbackNo != null">
        feedback_no = #{feedbackNo,jdbcType=VARCHAR},
      </if>
      <if test="feedbackTime != null">
        feedback_time = #{feedbackTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kindArt.manager.domain.OpinionFeedback">
    update opinion_feedback
    set opinion_type = #{opinionType,jdbcType=VARCHAR},
      opinion_code = #{opinionCode,jdbcType=VARCHAR},
      opinion_code_comment = #{opinionCodeComment,jdbcType=VARCHAR},
      opinion_comment = #{opinionComment,jdbcType=VARCHAR},
      att_uuid = #{attUuid,jdbcType=VARCHAR},
      feedback_no = #{feedbackNo,jdbcType=VARCHAR},
      feedback_time = #{feedbackTime,jdbcType=TIMESTAMP}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>